.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../../Images/MM07.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bigTitle1,
.bigTitle2 {
  margin-top: 100px;
  margin-left: -1000px;
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  font-size: 70px;
  color: rgb(183, 189, 232);
}

.bigTitle2 {
  margin-top: 280px;
  margin-left: -500px;
}

.divButton {
  display: flex;
  justify-content: left;
  margin-top: 500px;
  margin-left: -330px;
}

.inButton {
  width: 220px;
  height: 45px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  background-color: rgb(191, 194, 216);
  /*  */
  color: #fff !important;
  padding: 0.5em 1.2em;
  background: #318aac;
  border: 2px solid;
  border-color: #318aac;
  position: relative;
}

.inButton::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: all 1s ease;
}

.inButton:hover::before {
  width: 100%;
}

.linkBut {
  text-decoration: none;
}
